pre {
  white-space: pre-wrap;
}
.card {
  grid-template-rows: auto auto auto;
}
.card-text-recipe {
  margin: 25px;
  color: black;
}
.card-image {

}
mat-expansion-panel {
  background: #f5f5f5 !important;
}
mat-expansion-panel p {
  font-family: Roboto-Light, serif;
  font-size:14px;
  font-weight: 300;
}
.card-stats mat-panel-title{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: #f5f5f5 !important;
}
mat-expansion-panel-header {
  background: #f5f5f5 !important;
}
.stat {
  text-align: center;
  font-size: 14px;
}
.mat-raised-button {
  margin-left: 10px;
}
.card-container {
  max-width: 600px;
}
.gesture__zone {
  touch-action: pan-y !important;
}
