.stat-read {
  text-align: center;
}

.card {
  grid-template-rows: auto auto auto;
}
.card-stats {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: #ff6659 !important;
}
a {
  color:inherit;
  text-decoration: none;
}
