<div class="messageInput">
  <label>
    <textarea cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows=4></textarea>
  </label>
  <button mat-raised-button
          color="primary">Postita
  </button>
</div>
<div class="messageBoard">
  <div class="message">
    <div class="messageHeader">
      <span class="message-author">Lauri S</span> <span class="message-date">1.06.2020 14:30</span>
    </div>
    <div class="messageBody">
      velit metus, venenatis sed viverra ac, venenatis a dui. Quisque vehicula porta libero, vel malesuada nisi
      malesuada dignissim. Donec ex eros, dapibus nec vehicula vitae, efficitur et augue. In sed nibh in leo vulputate
      maximus. Cras maximus nisi a mauris volutpat, eget pulvinar ex mollis. Maecenas tincidunt pharetra nibh, eget
      imperdiet dolor volutpat id. Vivamus id ipsum dignissim, condimentum diam ac, iaculis diam.
    </div>
  </div>
  <div class="message">
    <div class="messageHeader">
      <span class="message-author">Lauri S</span> <span class="message-date">1.06.2020 14:30</span>
    </div>
    <div class="messageBody">
      Cras maximus nisi a mauris volutpat, eget pulvinar ex mollis. Maecenas tincidunt pharetra nibh, eget imperdiet
      dolor volutpat id. Vivamus id ipsum dignissim, condimentum diam ac, iaculis diam.
    </div>
  </div>
  <div class="message">
    <div class="messageHeader">
      <span class="message-author">Lauri S</span> <span class="message-date">1.06.2020 14:30</span>
    </div>
    <div class="messageBody">
      velit metus, venenatis sed viverra ac, venenatis a dui. Quisque vehicula porta libero, vel malesuada nisi
      malesuada dignissim. Donec ex eros, dapibus nec vehicula vitae, efficitur et augue. In sed nibh in leo vulputate
      maximus. Cras maximus nisi a mauris volutpat, eget pulvinar ex mollis. Maecenas tincidunt pharetra nibh, eget
      imperdiet dolor volutpat id. Vivamus id ipsum dignissim, condimentum diam ac, iaculis diam.
    </div>
  </div>
  <div class="messageForm">
  </div>
</div>

