<div
  class="loginForm">
  <form [formGroup]="resetPasswordForm"
        (ngSubmit)="onFormSubmit()">
    <div class="loginFormRow">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <label>
          <input matInput
                 formControlName="email"
                 type="email">
        </label>
        <mat-error *ngIf="email.hasError('required')">
          Email on <strong>nõutud</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="loginFormRow">
      <button mat-raised-button [disabled]="!this.submitButtonIsActive"
              color="accent">Saada emailile
      </button>
    </div>
  </form>
</div>
<mat-error class="alert alert-error"
           *ngIf=errorMessage>
  {{ errorMessage }}
</mat-error>


