<div
  class="loginForm">
  <div class="choose-password"><strong>Vali endale parool</strong></div>
  <form [formGroup]="newPasswordForm"
        (ngSubmit)="onFormSubmit()">
    <div class="loginFormRow">

      <mat-form-field class="example-full-width">
        <mat-label>Salasõna</mat-label>
        <input matInput
               formControlName="password"
               type="password">
        <mat-error *ngIf="password.hasError('required')">
          Salasõna on <strong>nõutud</strong>
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Minimaalne parooli pikkus 5 tähte
        </mat-error>
        <mat-error *ngIf="password.hasError('maxlength')">
          Maksimaalne parooli pikkus 20 tähte
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Korda salasõna</mat-label>
        <input matInput
               formControlName="confirmPassword"
               type="password">
        <mat-error *ngIf="confirmPassword.hasError('required')">
          Salasõna on <strong>nõutud</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="loginFormRow">
      <button mat-raised-button [disabled]="newPasswordForm.invalid"
              color="accent">Määra parool
      </button>
    </div>
  </form>
</div>
<mat-error class="alert alert-error"
           *ngIf=errorMessage>
  {{ errorMessage }}
</mat-error>
